@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: white;
  width: 320px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
  text-align: center;
}

.card img {
  width: 288px;
  height: 288px;
  border-radius: 20px;
}

.card h3 {
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  color: var(--slate-900);
  font-weight: 600;
}

.card p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: var(--slate-500);
  font-weight: 400;
}

/* Mobile view */

@media screen and (max-width: 375px) {
  .card {
    background-color: white;
    min-width: 320px;
    min-height: 500px;
  }
}
